<div class="forget-password" ng-show="!haveConfirm">
    <form>
        <div class="subPage-content-style" style="padding-bottom:0">
            <label class="title-color bold">{{ 'resetPassword' | translate }}</label>
            <p>{{ 'enterEmailAddress' | translate }}</p>
        </div>
        <div class="subPage-content-style">
            <!-- <div class="form-group">
                <label class="title-color bold">{{ 'userName' | translate }}</label>
                <i class="icon icon-me"></i>
                <input class="form-control" type="text" ng-model="userName">
            </div> -->
            <div class="form-group">
                <label class="title-color bold">{{ 'Email' | translate }}</label>
                <i class="icon icon-email"></i>
                <input class="form-control" type="text" ng-model="email" maxlength="50">
            </div>
        </div>
        <div class="subPage-content-style">
            <a class="btn btn-primary btn-block" ng-click="sendforgetInfo()" ng-if="email!=''&&email!=null">{{ 'Send' | translate }}</a>
            <a class="btn btn-primary btn-block disabled" ng-if="email==''||email==null">{{ 'Send' | translate }}</a>
        </div>
    </form>
</div>
<div class="verify-address" ng-show="haveConfirm">
    <div class="subPage-content-style">
        <label class="title-color bold">{{ 'passwordReset' | translate }}</label>
        <p class="wrap">{{ 'AnEmailWasSentTo' | translate }} {{email}}{{ 'comforPasswordReset' | translate }}</p>
    </div>
    <div class="subPage-content-style">
        <a class="btn btn-primary btn-block" ng-click="gotoLogin()">{{ 'btnOk' | translate }}</a>
    </div>
</div>
