<div class="login set-profile" ng-show="page==1">
  <form id="login">
    <div class="subPage-content-style" >
      <div class="form-group">        
        <div class="form-group m-b-none phone">
          <label class="title-color bold">{{ 'mobileNumber' | translate }} </label>
          <div style="overflow:hidden;">
            <div style="float:left;width:30%;position:relative;">
              <i class="icon icon-phone" style="top: 3px;"></i>
              <div data-role="fieldcontain" id="phoneAreaCode_treelist" style="padding-top:5px;">
                <i class="icon-right-arrow" ng-click="iconClick('phoneAreaCode')" style="top: 3px;right: 0;left: auto;"></i>
                <ul id="phoneAreaCode" style="display:none">
                  <li on-last-repeat ng-repeat="phoneAreaCode in form.phoneDistrictCode">{{phoneAreaCode}}</li>
                </ul>
              </div>
            </div>
            <div style="float:right;width:65%;">
              <input class="form-control phoneInput" type="tel" maxlength="20" required ng-model="form.phone">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="subPage-content-style">
      <a class="btn btn-primary btn-block" ng-click="submitEvent()" >{{ 'btnOk' | translate }}</a>
    </div>
  </form>
</div>
<div class="registraion set-profile" ng-show="page==2">
  <div class="subPage-content-style">
    <p class=" wrap">{{ 'passcodeTip' | translate}}</p>
    <div class="form-group">
      <label class="title-color bold">{{ 'Passcode' | translate }}</label>
      <i class="icon icon-password"></i>
      <div>
        <input class="form-control verifyCode" type="tel" ng-model="verifyCode" style="text-indent:25px;">
      </div>
    </div>
  </div>
  <div class="subPage-content-style">
    <a class="btn btn-primary btn-block" ng-click="loginEvent(2)">{{ 'btnOk' | translate }}</a>
    <a class="btn btn-grey btn-block" ng-class="{'disabled':time!=0}" ng-click="resendSmsEvent()">{{ 'Resend' | translate }} <span ng-if="time!=0">({{time}})</span></a>
  </div>
</div>