<div class="login" ng-show="!verifyPassword">
    <form>
        <div class="subPage-content-style">
            <div class="form-group m-b-none">
                <label class="title-color bold">{{ 'enterOldPassword' | translate }}.</label>
                <i class="icon icon-password"></i>
                <input class="form-control" type="password" ng-model="oldPassword">
            </div>
        </div>
        <div class="subPage-content-style">
           <a class="btn btn-primary btn-block" ng-click="checkoutUserPassword()">{{ 'Next' | translate }}</a>
        </div> 
    </form>
</div>
<div class="login" ng-show="verifyPassword"> 
    <form id="reset">
        <div class="subPage-content-style">
            <div class="form-group">
                <label class="title-color bold">{{ 'Enter your new password' | translate }}</label>
                <i class="icon icon-password"></i>
                <input class="form-control password" type="text" ng-class="{'show':!viewPassword}" ng-model="password" name="password">
                <input class="form-control password" type="password" ng-class="{'show':viewPassword}" ng-model="password" name="password">
                <i class="icon-eye right" ng-class="{'show':viewPassword}" ng-click="changeViewPassword()"></i>
                <i class="icon-eye-blocked right" ng-class="{'show':!viewPassword}" ng-click="changeViewPassword()"></i>
                <div class="light-color m-t-xs">{{ 'passwordFormat' | translate }}.</div>
            </div>
            <div class="form-group m-b-none match">
                <label class="title-color bold">{{ 'confirmNewPassword' | translate }}</label>
                <i class="icon icon-check-password"></i>
                <input class="form-control password " type="text" ng-class="{'show':!viewConfirmPassword}" ng-model="confirmPassword" name="confirmPassword">
                <input class="form-control password" type="password" ng-class="{'show':viewConfirmPassword}" ng-model="confirmPassword" name="confirmPassword">
                <i class="icon-eye right" ng-class="{'show':viewConfirmPassword}" ng-click="changeViewConfirmPassword()"></i>
                <i class="icon-eye-blocked right" ng-class="{'show':!viewConfirmPassword}" ng-click="changeViewConfirmPassword()"></i>
            </div>
        </div>
        <div class="subPage-content-style">
           <a class="btn btn-primary btn-block" ng-if="password&&confirmPassword" ng-click="resetPasswordEvent()">{{ 'btnOk' | translate }}</a>
           <a class="btn btn-primary btn-block disabled" ng-if="!password||!confirmPassword">{{ 'btnOk' | translate }}</a>
        </div> 
    </form>
</div>
