<div class="set-profile" ng-show="page==1">
    <div class="photo-area">
        <span class="user-photo"  ng-click="gotoChangeProfilePicture()"><img class="img-responsive" ng-src="{{form.userInfo.icon}}"><b class="edit">{{ 'Edit' | translate }}</b></span>
    </div>
    <form id="setProfile">
        <div class="subPage-content-style">
            <div class="form-group m-b-none">
                <label class="title-color bold">{{ 'userName' | translate }}<span>(required)</span></label>
                <i class="icon icon-me"></i>
                <input class="form-control t-i userName" maxlength="50" type="text" ng-model="form.userInfo.userName" name="userName">
                <p class="usernameformat" style="font-size: 15px;font-weight: normal;margin-top: 5px;">{{ 'usernameformat' | translate }}</p>
            </div>
        </div>
        <div class="subPage-content-hr"></div>
        <div class="subPage-content-style">
            <div class="form-group">
                <label class="title-color bold">{{ 'firstName' | translate }}<span>(required)</span></label>
                <i class="icon icon-me"></i>
                <input class="form-control t-i firstName" type="text" ng-model="form.userInfo.firstName" maxlength="50">
            </div>
            <div class="form-group m-b-none">
                <label class="title-color bold">{{ 'lastName' | translate }}<span>(required)</span></label>
                <i class="icon icon-me"></i>
                <input class="form-control t-i lastName" type="text" ng-model="form.userInfo.lastName" maxlength="50">
            </div>
        </div>
        <div class="subPage-content-hr"></div>
        <div class="subPage-content-style">
            <div class="form-group">
                <label class="title-color bold">{{ 'Contact email' | translate }}<span>(required)</span></label>
                <i class="icon icon-email"></i>
                <input class="form-control t-i contactEmail" ng-if="!form.userInfo.email" type="email" ng-model="form.userInfo.contactEmail" name="email" maxlength="50">
                <div class="p-l-t-pf wrap" ng-if="form.userInfo.email" style="padding-top: 7px;">{{form.userInfo.contactEmail}}</div>
            </div>
            <div class="form-group m-b-none phone"  ng-show="checkPhone">
                <label class="title-color bold">{{ 'mobileNumber' | translate }}<span>(required)</span> </label>
                <div class="item-table">
                    <div class="tdcell">
                        <i class="icon icon-phone"></i>
                        <div data-role="fieldcontain" >
                             <div class="p-l-t-pf wrap" style="padding-top: 8px;" >{{form.userInfo.phoneAreaCode}} {{form.userInfo.phone}}</div>
                        </div>
                    </div>
                    
                </div>
            </div>            
            <div class="form-group district gender m-b-none" ng-show="!checkPhone">
                <label class="title-color bold">{{ 'mobileNumber' | translate }}<span>(required)</span></label>
                <i class="icon icon-phone" ></i>
                <div ng-click="openPopup()">
                    <i class="icon-right-arrow"  style="transform:rotate(0deg);-webkit-transform:rotate(0deg)"></i>
                    <div class="form-control" style="background-color:#fff;"></div>
                </div>
                <div class="light-color m-t-xs" style="color: rgb(79, 79, 79);">{{ 'inputMobileTip' | translate }}</div>
            </div>
        </div>
        <div class="subPage-content-hr"></div>
        <div class="subPage-content-style">
            <div class="form-group district gender m-b-none" >
                <label class="title-color bold">{{ 'Gender' | translate }}<span>({{ 'optional' | translate }})</span></label>
                <i class="icon icon-group"></i>
                <div data-role="fieldcontain" class="district" id="gender_treelist">
                    <i class="icon-right-arrow" ng-click="iconClick('gender')"></i>
                    <ul id="gender" style="display:none">
                        <li on-last-repeat ng-repeat="gender in genderList">{{gender.name}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="subPage-content-hr"></div>
        <div class="subPage-content-style">
            <div class="form-group m-b-none district">
                <label class="title-color bold">{{ 'dateOfBirth' | translate }}<span>({{ 'optional' | translate }})</span></label>
                <i class="icon icon-date"></i>
                <i class="icon-right-arrow" ng-click="birthdayClick()"></i>
                <input id="birthday" class="form-control t-i" type="text" ng-model="form.userInfo.birthday">
            </div>
        </div>
        <div class="subPage-content-hr"></div>
        <div class="subPage-content-style">
            <div class="form-group m-b-none district">
                <label class="title-color bold">{{ 'Link with Facebook' | translate }}<span>({{ 'optional' | translate }})</span></label>
                <div ng-click="facebookLogin()">
                    <i class="icon icon-facebook"   ng-class="{'fbBlue':form.facebookInfo.id}"></i>
                    <p style="position: absolute; padding-left: 25px;bottom: 10px;">Facebook</p>
                    <i class="icon-right-arrow" ng-if="form.registerType!=3" style="transform:rotate(0deg);-webkit-transform:rotate(0deg)"></i>
                    <input  disabled style="background-color:#fff;text-align: right;padding: 0 25px 0 0;border:none;" class="form-control t-i" type="text" ng-model="form.facebookInfo.id">
                </div>
            </div>
        </div>
        <div class="subPage-content-hr"></div>
        <div class="subPage-content-style">
            <a class="btn btn-primary btn-block disabled" ng-if="!canConfirm">{{ 'Confirm' | translate }}</a>
            <a class="btn btn-primary btn-block" ng-if="canConfirm" ng-click="submit()">{{ 'Confirm' | translate }}</a>
        </div>
    </form>
</div>
<div class="login set-profile" ng-show="page==2">
  <form id="login">
    <div class="subPage-content-style" >
      <div class="form-group">        
        <div class="form-group m-b-none phone">
          <label class="title-color bold">{{ 'mobileNumber' | translate }} </label>
          <div style="overflow:hidden;">
            <div style="float:left;width:30%;position:relative;">
              <i class="icon icon-phone" style="top: 3px;"></i>
              <div data-role="fieldcontain" id="phoneAreaCode_treelist" style="padding-top:5px;">
                <i class="icon-right-arrow" ng-click="iconClick('phoneAreaCode')" style="top: 3px;right: 0;left: auto;"></i>
                <ul id="phoneAreaCode" style="display:none">
                  
                  <li on-last-repeat ng-repeat="phoneAreaCode in form.phoneDistrictCode">{{phoneAreaCode}}</li>
                  
                </ul>
              </div>
            </div>
            <div style="float:right;width:65%;">
              <input class="form-control phoneInput" type="tel" maxlength="20"  ng-model="phone">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="subPage-content-style">
      <a class="btn btn-primary btn-block" ng-click="submitEvent()" >{{ 'Send' | translate }}</a>
    </div>
  </form>
</div>
<div class="registraion set-profile" ng-show="page==3">
  <div class="subPage-content-style">
    <label class="title-color bold">Verify your mobile number</label>
    <p class=" wrap">Your SMS verification code has been sent to your mobile number:</p>
    <p class="text-center font22" style="margin:20px 0;">{{phoneAreaCode}} {{phone}}</p>
    <div class="form-group">
      <label class="title-color bold">{{ 'verificationCode' | translate }}</label>
      <i class="icon icon-password"></i>
      <div>
        <input class="form-control verifyCodeInput" type="tel" ng-model="verifyCode" style="text-indent:25px;">
      </div>
    </div>
  </div>
  <div class="subPage-content-style">
    <a class="btn btn-primary btn-block" ng-click="verifySmsEvent()">{{ 'btnOk' | translate }}</a>
    <a class="btn btn-grey btn-block" ng-class="{'disabled':time!=0}" ng-click="resendSmsEvent()" ng-if="overResendTimes">{{ 'Resend' | translate }} <span ng-if="time!=0">({{time}})</span></a>
    <a class="btn btn-grey btn-block disabled" ng-if="!overResendTimes">{{ 'Resend' | translate }}</a>
    <a class="btn btn-grey btn-block" ng-click="resetMobileEvent()">{{ 'resetMobileNumber' | translate }}</a>
  </div>
</div>