<div class="account">
    <a class="btn btn-primary btn-block" ng-click="share()">share</a>
    <a class="btn btn-primary btn-block" ng-click="openBrowser()">Open External Browser</a>
    <a class="btn btn-primary btn-block" ng-click="networkStatus()">Network status</a>
    <a class="btn btn-primary btn-block" ng-click="deepLink()">Deep Link</a>
    <a class="btn btn-primary btn-block" ng-click="notification()">Notification</a>
    <a class="btn btn-primary btn-block" ng-click="userPhoto()">User profile photo</a>
    <a class="btn btn-primary btn-block" ng-click="facebookLogin()">Facebook login</a>
    <label>response: new</label>
    <img src="{{img}}" style="width: 100%">
</div>
