<div class="tutorialPage">    
    <div class="flexslider">
      <ul class="slides">
        <li ng-class="flexsliderEvent()">
            <img src="./images/tutorial_graphic_1.png">
            <div class="title bold">About Us</div>
            <div class="content_t">Rustan Supercenters, Inc. is the operator of Rustan's Supermarkets, the Shopwise chain of hypermarkets and Wellcome. It is a leader and pioneer in the grocery shopping industry, well known for its focus on quality, customer service, and fresh food.</div>
        </li>
        <li>
            <img src="./images/tutorial_graphic_2.png">
            <div class="title bold">Digital stickers platform</div>
            <div class="content_t">With the new Rustan's Supermarket App, you can earn and share stickers, as well as redeem and reserve rewards using your mobile device. You will also be updated on the latest news and promos from us.</div>
        </li>
        <li>
            <img src="./images/tutorial_graphic_3.png">
            <div class="title bold">How to join?</div>
            <div class="content_t">Just simply register an account via email or Facebook to start earning stickers!</div>
            <!-- <div class="registerBtn">
                <a class="btn btn-primary btn-block" ng-click="registerEvent()">{{ 'RegisterNow' | translate }}</a>
            </div> -->
            
        </li>
      </ul>
    </div>
    <div class="skip" ng-click="skipEvent()">Skip</div>
</div>

