<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-8">
        <h2>{{ 'BannerInfo' | translate }}</h2>
        <ol class="breadcrumb">
            <li>
                <a ng-click="goLanding()">{{ 'homePage' | translate }}</a>
            </li>
            <li>
                <a  ng-click="cancel()">{{ 'BannerList' | translate }}</a>
            </li>
            <li class="active">
                <strong>{{ 'BannerInfo' | translate }}</strong>
            </li>
        </ol>
    </div>
    <div class="form-horizontal" style="padding-top: 30px;" ng-show="form.bannerId">    
        <label class="col-sm-2 control-label">{{ 'Language' | translate }}</label>
        <div class="col-sm-2">
            <select class="form-control" ng-model="pageLanguage" ng-change="selectPageLang()">
                <option ng-repeat="language in bannerDetail.bannerLangMaps" value="{{language.langCode}}" >{{language.langCode | translate}}</option>
            </select>
        </div>
    </div>
</div>
<div class="tabs-container" style="padding-bottom:50px;margin-top:18px;">
    <div class="tab-content">
        <div id="tab-1" class="tab-pane active">
            <div class="panel-body">
                <div class="ibox-content">
                    <form method="get" class="form-horizontal" id="baseInfo">
                        
                        <div class="form-group">
                            <label class="col-sm-2 control-label" ng-show="form.systemUserRole.roleType==1">{{ 'merchant' | translate }}<span style="color:red">*</span></label>
                            <div class="col-sm-3" ng-show="form.systemUserRole.roleType==1">
                                <div>
                                    <select class="form-control" ng-model="bannerDetail.merchantId" ng-change = "getMerchantDetail(bannerDetail.merchantId)" name="merchantId" required ng-disabled="form.bannerId">
                                        <option  ng-repeat="merchant in merchantList" value="{{merchant.id}}">{{merchant.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>                
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{ 'Name' | translate }}<span style="color:red">*</span></label>
                            <div class="col-sm-10">
                                <div>
                                    <input type="text" class="form-control" maxlength="50" ng-model="bannerDetail.langData.name" name="name" required>
                                </div>
                            </div>
                        </div> 
                        <div class="form-group" ng-if="form.bannerId">
                            <label class="col-sm-2 control-label" >{{ 'Status' | translate }}<span style="color:red">*</span></label>
                            <div class="col-sm-3">
                                <div>
                                    <select class="form-control" ng-model="bannerDetail.status" name="status">
                                        <option value="1" disabled>{{ 'Pending' | translate }}</option>
                                        <option value="2" ng-disabled="bannerDetail.status==3||bannerDetail.status==1">{{ 'Active' | translate }}</option>
                                        <option value="3" disabled>{{ 'Expired' | translate }}</option>
                                        <option value="4" ng-disabled="bannerDetail.status==3">{{ 'Inactive' | translate }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>                            
                        <div class="form-group">
                            <label class="col-sm-2 control-label" >{{ 'Browser type' | translate }}</label>
                            <div class="col-sm-3">
                                <div>
                                    <select class="form-control" ng-model="bannerDetail.inappOpen" name="status" >
                                        <option value="1">In-app</option>
                                        <option value="0">Native browser</option>
                                    </select>
                                </div>
                            </div>
                        </div>   
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{ 'Period' | translate }}<span style="color:red">*</span></label>
                                <div class="col-sm-5">
                                    <div class='input-group date' datetimepicker startT="true" ng-model="bannerDetail.startTime">
                                        <input type='text' class="form-control" name="startTime" required placeholder="From Date" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <div class='input-group date' datetimepicker endT="true" ng-model="bannerDetail.endTime">
                                        <input type='text' class="form-control" name="endTime" required placeholder="To Date" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>                 
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{ 'webUrl' | translate }}</label>
                            <div class="col-sm-10">
                                <div>
                                    <input type="text" class="form-control" maxlength="100" ng-model="bannerDetail.webUrl" name="webUrl">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{ 'Image' | translate }}<span style="color:red">*</span></label>
                            <div class="col-sm-10">
                                <div class="input-group img-group">
                                    <div id="uploadBtn3" class="text-center dropzone logo">
                                        <input id="logoInput" class="upload-file img-file-m" type="file" accept="image/*" ng-click="$root.prepareUploadImg('logoInput','logoImage',uploadFinish,{$event: $event}, {width:1080, height:550},bannerDetail.merchantId,4)" ng-model="bannerDetail.langData.img" name="logo">
                                        <div class="addImage" style="width: 100%" ng-show = "!bannerDetail.langData.img">
                                            <a class="addImageIcon btn btn-primary btn-circle"><i class="fa fa-plus"></i></a>
                                            <p class="text-primary m-t-sm font14 suggestFont">1080x550 .jpg/jpeg/png</p>
                                        </div>
                                        <div class="editImage" ng-show = "bannerDetail.langData.img">
                                            <div class="mask-bg"></div>
                                            <img id="logoImage" ng-src="{{bannerDetail.langData.img}}">
                                            <div class="icon-center">
                                                <span class="edit-icon"><i class="fa fa-pencil"></i></span>
                                                <p class="text-primary font14 font-white editFont">{{ 'modify' | translate }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="pull-right">
                                    <button class="btn btn-white" type="button" ng-click="cancel()">{{ 'Cancel' | translate }}</button>
                                    <button class="btn btn-primary" ng-if="form.showSaveBtn" type="submit">{{ 'Save' | translate }}</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
