<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-10">
        <h2>{{ 'StoreList' | translate }}</h2>
        <ol class="breadcrumb">
            <li>
                <a  ng-click="goLanding()">{{ 'Landing' | translate }}</a>
            </li>
            <li>
                <a>{{ 'StoreManagement' | translate }}</a>
            </li>
            <li class="active">
                <strong>{{ 'StoreList' | translate }}</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox-content m-b-sm border-bottom">
        <div class="row form-horizontal">

            <div class="form-group">
                <label class="col-sm-2 control-label">{{ 'StoreName' | translate }}</label>
                <div class="col-sm-3">
                    <div>
                        <input type="text" class="form-control" placeholder="{{ 'StoreName' | translate }}" name="search" class="form-control input" ng-model="searchStoreName">
                    </div>
                </div>
                <label class="col-sm-2 control-label">{{ 'searchLanguage' | translate }}</label>
                <div class="col-sm-3">
                    <select class="form-control" ng-model="searchLanguage">                        
                        <option value="">--- Select Default ---</option>
                        <option ng-repeat="language in form.languageList" value="{{language.langCode}}" >{{language.langCode | translate }}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" ng-show="form.systemUserRole.roleType==1">{{ 'merchant' | translate }}</label>
                <div class="col-sm-3" ng-show="form.systemUserRole.roleType==1">
                    <div>
                        <select class="form-control" ng-model="form.merchantId">
                            <option value="">--- Select All ---</option>
                            <option  ng-repeat="merchant in merchantList" value="{{merchant.id}}">{{merchant.name}}</option>
                        </select>
                    </div>
                </div>
                <label class="col-sm-2 control-label">{{ 'Status' | translate }}</label>
                <div class="col-sm-3">
                    <select class="form-control" ng-model="searchStatus">
                        <option value="">--- All status ---</option>
                        <option value="1" >{{ 'Active' | translate }}</option>
                        <option value="0" >{{ 'Inactive' | translate }}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12 textRight">
                    <div class="">
                        <button class="btn btn btn-primary" ng-click="search()">
                            {{ 'Search' | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div ui-i18n="{{lang}}" id="DataTables_Table_2_wrapper" class="table-responsive dataTables_wrapper form-inline dt-bootstrap">
                        <div class="dataTables_info" id="DataTables_Table_2_info" role="status" aria-live="polite">{{ 'datagridresult' | translate:gridOptions }}</div>
                        <div ui-grid="gridOptions" ui-grid-pagination ui-grid-resize-columns ui-grid-move-columns ui-grid-selection ui-grid-auto-resize class="myGrid" ng-style="getTableHeight()"></div>
                        <div class="dataTables_paginate paging_simple_numbers pull-right" id="DataTables_Table_2_paginate">
                            <ul class="pagination">
                                <li class="paginate_button previous" id="DataTables_Table_2_previous"><a ng-click="gridApi.pagination.previousPage()">{{'Page_Pre' | translate }}</a></li>
                                <li ng-class="[paginate_button, {active: page == gridApi.pagination.getPage()}]" ng-repeat="page in gridApi.pagination.displayPage()"><a ng-click="gridApi.pagination.seek(page)">{{page}}</a></li>
                                <li class="paginate_button next" id="DataTables_Table_2_next"><a ng-click="gridApi.pagination.nextPage()">{{'Page_Next'| translate }}</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-12" style="margin-top:-30px;">
                        <div class="pull-right">
                            <button class="btn btn-white" ng-if="checkPermission('STORE_LIST_NEW')" ng-click="addStore()">{{ 'New' | translate }}</button>
                            <!-- <button class="btn btn-white" ng-click="deleteUser()">{{ 'Delete' | translate }}</button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
